* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}





/* .logo {
  display: flex;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #6b7280;} */



.logo h1 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  /* 2 * 0.25rem = 0.5rem */
  padding-right: 0.5rem;

}

.logo span {
  font-size: 1.8rem;
  /* This corresponds to 5xl in Tailwind */
  line-height: 1;
  color: rgb(17, 219, 219);
}